
  body { 
    background-image: url(./../images/BG-1.jpg);
    background-repeat: no-repeat, repeat;
    background-size: 100% 100%;
    overflow: auto;
    z-index: -1px; 
    color: aliceblue;
    
  }
 
  
 
  .container{
    background-repeat: no-repeat, repeat;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  
  }
  .website-header {
  
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 35px;
    text-align: center;
    line-height: 3em;
    background-color: rgb(40, 100, 189); 
    
  }
  .navbar {
     
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
    text-align: center;
  }
  
  
  a:hover {
    color: black;
    padding-left: 10px;
    color: rgb(52, 52, 161);
   
    }
  .footer{
    color: rgb(175, 174, 174);
    font-weight: no-bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 15px;
    text-align: center;
  
  }
  .contactme{
    padding: 20px;
  }
  .contactme .contactinfo{
    padding-bottom: 15px;
  }
  .contactme lable{
    display: block;
  }
  .contactme input[type="text"], .contactme textarea
  {
    padding: 10px;
    width: 80%;
  
  }
  
  
  .Portfolio {   /* visitus */
     
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    margin-bottom: 150px;
    border: 3px double black;
    text-align: center;
    
  } 
  
  h1, h2, h3, p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(155, 146, 146);
  }
    
  .Contact{

    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    margin-bottom: 150px;
     
  }